<div class="input">
  <label for="text">Text</label>
  {{input id="text" type="text"}}
</div>

<div class="input">
  <label for="textarea">Textarea</label>
  {{textarea id="textarea"}}
</div>

<div class="input">
  <label for="checked-checkbox">Checked Checkbox</label>
  {{input id="checked-checkbox" type="checkbox"}}
</div>
