<div class="input">
  <label for="text">Text</label>
  <input id="text" type="text">
</div>

<div class="input">
  <label for="textarea">Textarea</label>
  <textarea id="textarea"></textarea>
</div>

<div class="input">
  <label for="select">Select</label>
  <select id="select">
    <option value="#1">#1</option>
    <option value="#2">#2</option>
  </select>
</div>

<div class="input">
  <label for="multi-select">Multi-Select</label>
  <select id="multi-select" multiple>
    <option value="#3">#3</option>
    <option value="#4">#4</option>
  </select>
</div>

<div class="input">
  <label for="checked-checkbox">Checked Checkbox</label>
  <input id="checked-checkbox" type="checkbox">
</div>
